.sign-up__headder
  .sign-up__headder__content
    = image_tag 'logo/logo.png', class: "logo"
    .nav-bar
      .nav-bar__content
        %h5.red
          会員情報
        .nav-bar__content__round.back-red.nav-bar__content__progress
      .nav-bar__content
        %h5
          住所登録
        .nav-bar__content__round.nav-bar__content__progress
      .nav-bar__content
        %h5
          電話番号
        .nav-bar__content__round.nav-bar__content__progress
      .nav-bar__content
        %h5
          登録完了
        .nav-bar__content__round
.sign-up
  .sign-up__content
    %h2.sign-up__content__title
      会員情報入力
  = form_with model: @user, url: address_signups_path, local: true do |f|
    .sign-up__content__main
      .sign-up__content__main__form
        .field__label
          = f.label :nickname, "ニックネーム"
          %span.attention
            必須
        = f.text_field :nickname, autofocus: true, class: "field__box", placeholder: "例)フリマリオ"
        -unless @user.errors.full_messages_for(:nickname) == []
          .errors_messages
            ニックネーム
            = @user.errors.messages[:nickname].to_s.delete('[ "]').sub!(/,.*/, '')
        .field
          .field__label
            = f.label :email, "メールアドレス"
            %span.attention
              必須
          = f.email_field :email, class: "field__box", placeholder: "PC・携帯どちらでも可"
          -unless @user.errors.full_messages_for(:email) == []
            .errors_messages
              E-mail
              = @user.errors.messages[:email].to_s.delete('[ "]').sub!(/,.*/, '')
        .field
          .field__label
            = f.label :password, "パスワード"
            %span.attention
              必須
          = f.password_field :password, class: "field__box", placeholder: "7文字以上の半角英数"
          = check_box_tag :check
          = label_tag :check, "パスワードを表示する", class: "check-box-label"
          -unless @user.errors.full_messages_for(:password) == []
            .errors_messages
              password
              = @user.errors.messages[:password].to_s.delete('[ "]').sub!(/,.*/, '')
        .field
          .field__label
            = f.label :password_confirmation, "パスワード確認用"
            %span.attention
              必須
          = f.password_field :password_confirmation, class: "field__box", placeholder: "もう一度入力してください"
          -unless @user.errors.full_messages_for(:password_confirmation) == []
            .errors_messages
              入力が一致しません
        %h2
          本人確認
        %p
          安心・安全にご利用いただくために、
          お客さまの本人情報の登録にご協力ください。
          他のお客さまに公開されることはありません。
        .field
          .field__label
            = f.label :first_name, "お名前(全角)"
            %span.attention
              必須
          .field-box__wrapper
            = f.text_field :first_name, class: "field__box__half", placeholder: "例)中野"
            = f.text_field :last_name, class: "field__box__half", placeholder: "例)尊"
          -unless @user.errors.full_messages_for(:last_name) == []
            .errors_messages
              苗字
              = @user.errors.messages[:last_name].to_s.delete('[ "]').sub!(/,.*/, '')
          -unless @user.errors.full_messages_for(:first_name) == []
            .errors_messages
              名前
              = @user.errors.messages[:first_name].to_s.delete('[ "]').sub!(/,.*/, '')
        .field
          .field__label
            = f.label :first_name_kana, "お名前カナ(全角)"
            %span.attention
              必須
          .field-box__wrapper
            = f.text_field :first_name_kana, class: "field__box__half", placeholder: "例)ナカノ"
            = f.text_field :last_name_kana, class: "field__box__half", placeholder: "例)タケル"
          -unless @user.errors.full_messages_for(:last_name_kana) == []
            .errors_messages
              ミョウジ
              = @user.errors.messages[:last_name_kana].to_s.delete('[ "]').sub!(/,.*/, '')
          -unless @user.errors.full_messages_for(:first_name_kana) == []
            .errors_messages
              ナマエ
              = @user.errors.messages[:first_name_kana].to_s.delete('[ "]').sub!(/,.*/, '')
        .field
          .field__label
            = f.label :birthday, "生年月日"
            %span.attention
              必須
          .field__birthday
            != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'birthday_box', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
          -unless @user.errors.full_messages_for(:birthday) == []
            .errors_messages
              生年月日
              = @user.errors.messages[:birthday].to_s.delete('[ "]')
          %h4
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        %h3
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
        = f.submit "次へ進む", class: 'create-action-btn'
        .checklist
          %h4
            本人情報確認について
        .notes
          This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
= render 'shared/logo_footer'
