= render 'shared/main_header'
.u-s-content
  %nav.u-s-content__nav
    %ul
      %li
        = link_to do
          .page-transition.my-page-transition
            %p
              マイページ
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              お知らせ
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              やることリスト
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              いいね！一覧
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              出品する
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              出品した商品-出品中
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              出品した商品-取引中
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              出品した商品-売却済
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              購入した商品-取引中
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              購入した商品-過去の取引
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              ニュース一覧
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              評価一覧
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              ガイド
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              お問い合わせ
            %i.fas.fa-chevron-right
    %h3
      メルペイ
    %ul
      %li
        = link_to do
          .page-transition
            %p
              売上・振込申請
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              ポイント
            %i.fas.fa-chevron-right
    %h3
      設定
    %ul
      %li
        = link_to do
          .page-transition
            %p
              プロフィール
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              発送元・お届け先住所変更
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              支払い方法
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              メール/パスワード
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              本人情報
            %i.fas.fa-chevron-right
      %li
        = link_to do
          .page-transition
            %p
              電話番号確認
            %i.fas.fa-chevron-right
      %li
        = link_to destroy_user_session_path, method: :delete do
          .page-transition
            %p
              ログアウト
            %i.fas.fa-chevron-right

  .u-s-content__main
    %section.u-s-content__main__user
      .u-s-content__main__user__box
        %figure
          = image_tag "icon/member_photo_noimage_thumb.png", size: "60x60"
        %h2
          ユーザーネーム
        .user-lifomation
          %h5.user-lifomation__evaluation
            評価数
          %h5.user-lifomation__item
            出品数
    %section.u-s-content__main__notice
      %ul
        %li#notice-list.activ-list
          お知らせ
        %li#todo-list
          やることリスト
      .u-s-content__main__notice__contens
        .notice-list__footer
          一覧を見る
    %section.u-s-content__main__transaction
      %h2.u-s-content__main__transaction__title
        購入した商品
      %ul
        %li#trading.activ-list
          取引中
        %li#traded
          過去の取引
      .u-s-content__main__transaction__lists
        %ul.trading
          %li.warning-sentence
            取引中の商品はありません
        %ul.traded.hidden-list
          %li.warning-sentence
            過去に取引した商品はありません
= render 'shared/main_footer'