= render 'shared/logo_header'
.sign-up
  .sign-up__content
    .sign-up__content__box
      %p
        アカウントをお持ちでない方はこちら
      =link_to new_signup_path do
        .start-action-btn
          %p.start-sentense
            新規会員登録
    .sign-up__content__lists
      .sign-up__content__lists__list.facebook
        %i.fab.fa-facebook-square.icon.fa-2x
        %h4
          Facebookでログイン
      .sign-up__content__lists__list.google
        %i.fab.fa-google.icon.fa-2x
        %h4
          Googleでログイン
    .sign-up__content__login-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, class: "form-box", placeholder: "メールアドレス", label: false
        = f.password_field :password, class: "form-box", placeholder: "パスワード", label: false
        = f.submit "ログイン", class: 'log-in-btn'
= render 'shared/logo_footer'