= render 'shared/main_header'

.toppage
  .toppage__main-image
    .toppage__main-image__content
      .toppage__main-image__content__name
        %p 人生を変えるフリマアプリ
      .toppage__main-image__content__text
        %p FURIMAはだれでもかんたんに出品・購入できる
        %p フリマアプリです
      .toppage__main-image__content__batch
        .toppage__main-image__content__batch__batch1
          = link_to "https://www.apple.com/jp/?afid=p238%7CsPIgS2dRk-dc_mtid_18707vxu38484_pcrid_405253683576_pgrid_13140806661_&cid=aos-jp-kwgo-brand--slid---product--" do
            = image_tag "logo/btn_app_apple.png", width: "210px",height: "65px"
        .toppage__main-image__content__batch__batch2
          = link_to "https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Jan0220&utm_campaign=Evergreen&pcampaignid=MKT-DR-apac-jp-1003227-med-hasem-py-Evergreen-Jan0220-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700012434507671_creativeid_416444421498_device_c_kwd_kwd-33891114176_geoid_1009461_network_g&gclid=Cj0KCQiAm4TyBRDgARIsAOU75srtW8tLttkfHsD9kfT9puDSjkhqhcYEeYBTmW4SJG6Vi4XKyFlshD4aArZOEALw_wcB&gclsrc=aw.ds" do
            = image_tag "logo/google-play-badge.png",width: "250px",height: "100px"

.topintroduction
  .topintroduction__content__theme
    %p FURIMAが選ばれる3つの理由
    .topintroduction__content__theme__line
  .topintroduction__content__lists

    .topintroduction__content__lists__list1
      .topintroduction__content__lists__list1__img
        .topintroduction__content__lists__list1__img__num
          1
      .topintroduction__content__lists__list1__text
        .topintroduction__content__lists__list1__text__content
          .topintroduction__content__lists__list1__text__content__text1
            %p 3分
          .topintroduction__content__lists__list1__text__content__right
            %p ですぐに出品
        .topintroduction__content__lists__list1__text__text2
          スマホで入力するだけで簡単に出品できる！

    .topintroduction__content__lists__list2
      .topintroduction__content__lists__list2__img
        .topintroduction__content__lists__list1__img__num
          2
      .topintroduction__content__lists__list2__text
        .topintroduction__content__lists__list2__text__content
          .topintroduction__content__lists__list2__text__content__text1
            %pシンプル
          .topintroduction__content__lists__list2__text__content__right
            %p で使いやすい
        .topintroduction__content__lists__list2__text__text2
          %p めんどくさい入力は必要なく、検索も購入もスムーズ！

    .topintroduction__content__lists__list3
      .topintroduction__content__lists__list3__img
        .topintroduction__content__lists__list1__img__num
          3
      .topintroduction__content__lists__list3__text
        .topintroduction__content__lists__list3__text__content
          .topintroduction__content__lists__list3__text__content__text1
            %p 手数料
          .topintroduction__content__lists__list3__text__content__right
            %p 業界最安
        .topintroduction__content__lists__list3__text__text2
          %p 最大3%でお得に出品&購入！

.top-second-image
  .top-second-image__content
    .top-second-image__content__title
      会員数日本一位
    .top-second-image__content__text
      %p FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p ほしかったあの商品に出会えるかもしれません。
    .top-second-image__content__batch
      .top-second-image__content__batch__batch1
        = link_to "https://www.apple.com/jp/?afid=p238%7CsPIgS2dRk-dc_mtid_18707vxu38484_pcrid_405253683576_pgrid_13140806661_&cid=aos-jp-kwgo-brand--slid---product--" do
          = image_tag "logo/btn_app_apple.png", width: "210px",height: "65px"
      .top-second-image__content__batch__batch2
        = link_to "https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Jan0220&utm_campaign=Evergreen&pcampaignid=MKT-DR-apac-jp-1003227-med-hasem-py-Evergreen-Jan0220-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700012434507671_creativeid_416444421498_device_c_kwd_kwd-33891114176_geoid_1009461_network_g&gclid=Cj0KCQiAm4TyBRDgARIsAOU75srtW8tLttkfHsD9kfT9puDSjkhqhcYEeYBTmW4SJG6Vi4XKyFlshD4aArZOEALw_wcB&gclsrc=aw.ds" do
          = image_tag "logo/google-play-badge.png",width: "250px",height: "100px"

.top-property
  .top-property__feauture
    FURIMAの特徴
    .top-property__feauture__line

  .top-property__lists
    .top-property__lists__list1
      .top-property__lists__list1__img
        = image_tag "icon/icon-01.png",size: "240x350"
      .top-property__lists__list1__box
        .top-property__lists__list1__box__text1
          簡単に売り買いできる
        .top-property__lists__list1__box__text2
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

    .top-property__lists__list2
      .top-property__lists__list2__img
        = image_tag "icon/icon-03.png",size: "240x350"
      .top-property__lists__list2__box
        .top-property__lists__list2__box__text1
          売上金は即日振込みに対応
        .top-property__lists__list2__box__text2
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

    .top-property__lists__list3
      .top-property__lists__list3__img
        = image_tag "icon/icon-04.png",size: "240x350"
      .top-property__lists__list3__box
        .top-property__lists__list3__box__text1
          様々な支払いに対応
        .top-property__lists__list3__box__text2
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

.top-category
  .top-category__title
    ピックアップカテゴリー
    .top-category__title__sub-title
      新規投稿商品
  .top-category__lists
    - @items.each do |item|
      .top-category__lists__list1
        .top-category__lists__list1__img
          = link_to "items/1" do
            = image_tag "icon/member_photo_noimage_thumb.png",size: "190x190"
        - if item.soldout == true
          .top-category__lists__list1__border-box
          .top-category__lists__list1__text-box
            .top-category__lists__list1__text-box__sold-out
              SOLD
        .top-category__lists__list1__text-box__name
          = item.name
        .top-category__lists__list1__text-box__box
          .top-category__lists__list1__text-box__box__price
            = item.price
          .top-category__lists__list1__text-box__box__like
            ★0
        .top-category__lists__list1__text-box__tax
          (税込)

.top-brand
  .top-brand__title
    ピックアップブランド
    .top-brand__title__sub-title
      アーカイバ
  .top-brand__lists
    - @items.each do |item|
      .top-brand__lists__list1
        .top-brand__lists__list1__img
          = link_to "items/1" do
            = image_tag "icon/member_photo_noimage_thumb.png",size: "190x190"
        - if item.soldout == true
          .top-category__lists__list1__border-box
          .top-category__lists__list1__text-box
            .top-category__lists__list1__text-box__sold-out
              SOLD
        .top-category__lists__list1__text-box__name
          = item.name
        .top-category__lists__list1__text-box__box
          .top-category__lists__list1__text-box__box__price
            = item.price
          .top-category__lists__list1__text-box__box__like
            ★0
        .top-category__lists__list1__text-box__tax
          (税込)

.top-banner
  .top-banner__inner
    .top-banner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .top-banner__inner__sub-title
      今すぐ無料ダウンロード！
    .top-banner__inner__batch
      .top-banner__inner__batch__batch1
        = link_to "https://www.apple.com/jp/?afid=p238%7CsPIgS2dRk-dc_mtid_18707vxu38484_pcrid_405253683576_pgrid_13140806661_&cid=aos-jp-kwgo-brand--slid---product--" do
          = image_tag "logo/btn_app_apple.png", width: "210px",height: "65px"
      .top-banner__inner__batch__batch2
        = link_to "https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Jan0220&utm_campaign=Evergreen&pcampaignid=MKT-DR-apac-jp-1003227-med-hasem-py-Evergreen-Jan0220-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700012434507671_creativeid_416444421498_device_c_kwd_kwd-33891114176_geoid_1009461_network_g&gclid=Cj0KCQiAm4TyBRDgARIsAOU75srtW8tLttkfHsD9kfT9puDSjkhqhcYEeYBTmW4SJG6Vi4XKyFlshD4aArZOEALw_wcB&gclsrc=aw.ds" do
          = image_tag "logo/google-play-badge.png",width: "250px",height: "100px"

= render 'shared/main_footer'
  
= render 'shared/main_exhibition-btn'
